*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #007bf6;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* start quiz button styling */
.start_btn button{
    font-size: 25px;
    color: #007bf6;
    font-weight: 600;
    padding: 15px 30px;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* info box */

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}


.info_box .info_head{
    height: 60px;
    width: 100%;
    border-bottom: 2px solid lightgray;
    padding: 0 35px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list ol li{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list ol li span{
    color: #007bf6;
    font-weight: 600;
}

.info_box .buttons{
    height: 60px;
    border-top: 2px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;   
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

.buttons .exit{
    background: red;
    color: #fff;
    font-size: 20px;
}

.buttons .exit:hover{
    background: #fff;
    color: red;
    border: 2px solid red;
}

.buttons .conts{
    background: green;
    color: #fff;
    font-size: 20px;
}

.buttons  .conts:hover{
    background: #fff;
    color: green;
    border: 2px solid green;
}

/* quiz box styling */

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title{
    font-weight: 600;
    font-size: 24px;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px ;
    padding: 0 8px;
}

.quiz_box header .timer .time_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .time_sec{
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}
.quiz_box section{
    padding: 25px 30px 20px 30px;
}

.quiz_box section .ques_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}
section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
section .option_list .option.disabled{
    pointer-events: none;
}
section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

.option_list .option.wrong{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

.option_list .option.correct{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.option_list .option.dsiable{
    pointer-events: none;
}

/* question footer */
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}
footer .total_que span{
    display: flex;
    user-select: none;
}
footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}
footer .total_que span p:first-child{
    padding-left: 0px;
}
footer .next_btn{
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    transition: all 0.3s ease;
}
footer .next_btn:hover{
    background: #0263ca;
}

/* result box */
.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
}
.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
.buttons button.restart{
    color: #fff;
    background: #007bff;
}
.buttons button.restart:hover{
    background: #0263ca;
}
.buttons button.quit{
    color: #007bff;
    background: #fff;
}
.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}
